# --- Librerías base del RAG ---
langchain
langchain-community
langchain-openai
langchain-google-genai
langchain-chroma
langchain-huggingface
sentence-transformers

# --- Librerías de la API y Entorno  ---
fastapi          # Para crear la API web que conectará con la interfaz
uvicorn          # El servidor que hará correr a FastAPI
python-dotenv    # Para que Python pueda leer el archivo .env fácilmente